{
  env: {
    browser: true
  },
  extends: 'airbnb',
  root: true,
  rules: {
    no-console: ['warn', {
      allow: ['warn', 'error']
    }],
    no-unused-vars: 'warn',
    react/jsx-filename-extension: 'off'
  }
}
