.container {
  @include make-container($grid-columns);

  @each $breakpoint, $gap in $grid-column-gaps {
    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
      max-width: map-get($container-max-widths, $breakpoint);
      column-gap: $gap;
      row-gap: map-get($grid-row-gaps, $breakpoint);
      padding-right: map-get($body-margins, $breakpoint);
      padding-left: map-get($body-margins, $breakpoint);
    }
  }

  position: relative;
}

@each $breakpoint, $gap in $grid-column-gaps {
  $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

  @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
    @for $i from 1 through $grid-columns {
      .nested#{$infix}-#{$i} {
        @include make-container($i);

        column-gap: $gap;
        row-gap: map-get($grid-row-gaps, $breakpoint);
      }
    }
  }
}

@include make-grid-columns();
