// @import 'normalize.css/opinionated.css';
@import '_variables' (min-width: 25rem);

body {
  // @import '_variables.css';

  all: initial;
  font-size: 100%;

  &:hover {
    background-color: #f00;
  }
}

.home {
  lost-column: 1/3;
}
